/* FONTS */
@font-face {
    font-family: Coolvetica;
    src: url(../fonts/coolvetica_rg.ttf);
}

/* @font-face */

/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--colorWhite);
    font-family: Coolvetica;
}

/* Global CSS */
:root{
    --colorBlack: #1a1a1a;
    --colorWhite: #fefefa;
    --colorBlue: #0069ff;
}

.blue{
    color: var(--colorBlue);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--colorBlack);
    overflow-x: hidden;
}

.section{
    width: 100%;
    padding: 100px 0;
}

.container{
    width: 100%;
    padding: 0 10%;
}

h1{
    font-size: 220px;
    line-height: 200px;
    letter-spacing: 4px;
    text-shadow: 60px 60px 3px var(--colorBlue);
}

h2{
    font-size: 70px;
    letter-spacing: 1px
}

h3{
    font-size: 50px;
    letter-spacing: 1px
}

p{
    font-size: 20px;
}

.and{
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    padding: 10px 20px;
    border: var(--colorBlue) 1px solid;
    width: fit-content;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--colorBlue);
    transition: background-color .8 ease-out;
}

.link{
    text-decoration: none;
    font-size: 18px;
}

/* header */

.header__section{
    padding: 20px 0;
    
}

.header__container{
    position: fixed;
    z-index: 100 !important;
}

.header_nav{
    padding: 8px 10px ;
    background-color: rgb(49, 49, 49);
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    z-index: 10;
}

.header_nav div{
    display: flex;
    gap: 20px;
    align-items: center;
}

.header_link{
    padding: 10px 24px;
    border-radius: 50px;
}

.header_link--active{
    background-color: var(--colorBlue);
}

.header_link--logo{
    font-size: 26px;
}

/* banner */
.banner__section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__container{
    display: flex;
    align-items: center;
    gap: 150px;
    position: relative;
}

.banner_img{
    position: absolute;
    /* top: 300px; */
    right: 10%;
    width: 600px;
    transform: scale(1.3);
    pointer-events: none;
    z-index: -1;
}

/* about us */
.about-us__container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 180px;
}

.about-us_img-wrap{
    width: 400px;
    height: 480px;
    background-color: var(--colorBlue);
    border-radius: 80px;
    position: relative;
    overflow: hidden;
}

.about-us_img-wrap > img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.about-us__main-wrap{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-us__result-wrap{
    display: flex;
    justify-content: space-between;
}

.about-us__result-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us__result-block > span{
    font-size: 60px;
}

/* skills */
.skills__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}

.skills_block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

